#navigation > ul{   
  padding: 4px;
  list-style-type: none;
}
#navigation{
   float: left;
   background-color: green;
   border-style: solid;
}
#highscoreTable{
  float: right;
   background-color: grey;
   border-style: solid;
}
#stop{
    background: #262626;
    margin-left: 50%;
    margin-right: 50%;
}
#board{
   margin-left: 100px;
   margin-right: 300px;
   border-style:none;
}
td {
  padding: 8px;
  text-align: right;
  background-color: lightgrey;
}
#gameHeader{
}