body{
  background-image: url(../img/background/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
#top{
  text-align: center;
  color: white;
}
footer{
  text-align: center;
  font-size: 22px;
  color: white;  
}
a:link {
    color: lightgrey;
}
a:visited {
    color: lightgrey;
}
#navigation > ul, #helpBox > ul{   
  padding: 4px;
}
#navigation ul, #helpBox ul{
  list-style-type: none;
}
#helpText td, #light{
  text-align: center;
}

#nameInput{
  margin-left: 50%;
  margin-right: 50%;
}
#navigation{
   float: left;
   text-align: center;
   text-style: bold;
   background-color: lightgreen;
   margin: 50px 325px 15px 150px;
   width: 250px;
   border-radius: 10px;
   border: solid black 2px;
   padding-left: 10px;
   padding-right: 10px;
   padding-bottom: 10px;
}
#playerLabel, #points, #gold, #life, #level, #wave, #minionsleft{
  text-align: left;
  font-family: serif;
  font-weight: bold;
}
#line{
  color: black;
}
#m{
  font-size: 22px;
  text-decoration: underline;
}
#navigation td{
  background-color: lightgreen;
}
#helpBox{
  border-radius: 10px;
   float: right;
   text-align: center;
   text-style: bold;
   background-color: lightgreen;
   margin-top: 50px;
   margin-left: 10px;
   margin-right: 150px;
   width: 250px;
   border: solid black 2px;
}
#stop{
    background: lightgrey;
}
#board{
  /*TODO: responsive*/
   border-style: none;
   height: 700px;
   width: 500px;
   margin: auto;
}
#minionInfo td{
  height: 32px;
  width: 32px;
}
#board td {
  text-align: right;
  height: 32px;
  width: 32px;
  background-image: url("../img/background/grass.jpg");
}
#player{
  margin-left: 200px;
}
#board td.Path{
    background-image: url("../img/background/dirt.jpg");
      background-repeat: no-repeat;
      background-size: cover;
}
/* Minion Images */
#board td.dinosaur, #minionInfo td.dinosaur{
      background-image: url("../img/minions/dinosaur.gif");
      background-repeat: no-repeat;
      background-size: cover;
}
#board td.dragon, #minionInfo td.dragon{
      background-image: url("../img/minions/dragon.png");
      background-repeat: no-repeat;
      background-size: cover;
}
#board td.eye, #minionInfo td.eye{
      background-image: url("../img/minions/eye.png");
      background-repeat: no-repeat;
      background-size: cover;
}
#board td.gaia, #minionInfo td.gaia{
      background-image: url("../img/minions/gaia.png");
      background-repeat: no-repeat;
      background-size: cover;
}
#board td.goblin, #minionInfo td.goblin{
      background-image: url("../img/minions/goblin.png");
      background-repeat: no-repeat;
      background-size: cover;
}
#board td.lurker, #minionInfo td.lurker{
      background-image: url("../img/minions/lurker.png");
      background-repeat: no-repeat;
      background-size: cover;
}
#board td.oneeyedbee, #minionInfo td.oneeyedbee{
      background-image: url("../img/minions/oneeyedbee.gif");
      background-repeat: no-repeat;
      background-size: cover;
}
#board td.ratking, #minionInfo td.ratking{
      background-image: url("../img/minions/ratking.png");
      background-repeat: no-repeat;
      background-size: cover;
}
#board td.skeleton, #minionInfo td.skeleton{
      background-image: url("../img/minions/skeleton.png");
            background-repeat: no-repeat;
      background-size: cover;
}
#board td.slime, #minionInfo td.slime{
      background-image: url("../img/minions/slime.png");
      background-repeat: no-repeat;
      background-size: cover;
}
#board td.turtle, #minionInfo td.turtle{
      background-image: url("../img/minions/turtle.png");
      background-repeat: no-repeat;
      background-size: cover;
}
#board td.wizard, #minionInfo td.wizard{
      background-image: url("../img/minions/wizard.png");
      background-repeat: no-repeat;
      background-size: cover;
}

/* Tower Images */
.TowerButton{
  height: 32px;
  width: 32px;
  background-repeat: no-repeat;
  background-size: cover;
  border: solid black 2px;
  border-radius: 1px;
  text-shadow: 1px 1px 3px white;
}
.TowerButton:hover{
  border: solid red 2px;
}

#board td.CanonTower, .TowerButton.CanonTower{
  background-image: url("../img/towers/canontower.png");
}
#board td.CanonTower2{
    background-image: url("../img/towers/canontower2.png");
}
#board td.CanonTower3{
    background-image: url("../img/towers/canontower3.png");
}
#board td.ArrowTower, .TowerButton.ArrowTower{
  background-image: url("../img/towers/arrowtower.png");
}
#board td.ArrowTower2 {
    background-image: url("../img/towers/arrowtower2.png");
}
#board td.ArrowTower3{
    background-image: url("../img/towers/arrowtower3.png");
}
#board td.LightningTower, .TowerButton.LightningTower{
  background-image: url("../img/towers/lightningtower.png");
}
#board td.LightningTower2{
    background-image: url("../img/towers/lightningtower2.jpg");
}
#board td.LightningTower3{
    background-image: url("../img/towers/lightningtower3.jpg");
}
#board td.FireTower, .TowerButton.FireTower{
  background-image: url("../img/towers/firetower.png");
}
#board td.FireTower2{
    background-image: url("../img/towers/firetower2.png");
}
#board td.FireTower3{
    background-image: url("../img/towers/firetower3.png");
}
.MenuButton, .LevelButton{
  text-shadow: 1px 1px 3px white;
  border: solid black 3px;
  border-radius: 20px;
  font-weight: bold;
  padding: 5px 10px 5px 10px;
}
.MenuButton:hover , .LevelButton:hover {
  border: solid red 3px;
  text-decoration: none;
}
#stop:hover{
  color:red;
}