body{
  background-image: url(../img/background/background2.gif);
  background-repeat: no-repeat;
  background-size: cover;
}
#top{
  text-align: center;
  color: white;
}
#player{
  color: white;
}

#navigation > ul, #helpBox > ul{   
  padding: 4px;
  
}
#navigation ul, #helpBox ul{
  list-style-type: none;
}

#nameInput{
  margin-left: 50%;
  margin-right: 50%;
}
#counter{
  float:right;
  margin-bottom: 2px;
  margin-right: 20px;
  text-align: center;
  background-color: lightgreen;
  with: 250px;
}
#navigation{
   float: left;
   text-align: center;
   text-style: bold;
   background-color: lightgreen;
   margin: 100px 200px 15px 15px;
   width: 250px;
}
#navigation td{
  background-color: lightgreen;
}
#helpBox{
   float: right;
   text-align: center;
   text-style: bold;
   background-color: lightgreen;
   margin-left: 10px;
   margin-right: 75px;
   width: 250px;
}
#stop{
   /* background: #262626; */
    background: lightgrey;
}
#board{
  /*TODO: responsive*/
   border-style: none;
}
#board tr{
  
}
#board td {
  text-align: right;
  height: 38px;
  width: 38px;
  background-image: url("../img/background/grass.jpg");
}
#player{
  margin-left: 200px;
#board td.Path{
    background-image: url("../img/background/dirt.jpg");
}
/* Minion Images */
#board td.amazon{
      background-image: url("../img/minions/amazon.png");
}
#board td.apple{
      background-image: url("../img/minions/apple.png");
}
#board td.cookieMonster{
      background-image: url("../img/minions/cookiemonster.jpg");
}
#board td.dart{
      background-image: url("../img/minions/dart.jpg");
}
#board td.docker{
      background-image: url("../img/minions/docker.png");
}
#board td.facebook{
      background-image: url("../img/minions/facebook.png");
}
#board td.google{
      background-image: url("../img/minions/google.png");
}
#board td.internetExplorer{
      background-image: url("../img/minions/internetexplorer.jpg");
}
#board td.strongKratzke{
      background-image: url("../img/minions/strongkratzke.jpg");
}
#board td.twitter{
      background-image: url("../img/minions/twitter.jpg");
}
#board td.weakKratzke{
      background-image: url("../img/minions/weakkratzke.jpeg");
}
#board td.whatsapp{
      background-image: url("../img/minions/whatsapp.png");
}

/* Tower Images */
.TowerButton{
  height: 38px;
  width: 38px;
  background-repeat: no-repeat;
  border: solid black 2px;
  border-radius: 1px;
  text-shadow: 1px 1px 3px white;
}
.TowerButton:hover{
  border: solid red 2px;
}

#board td.CanonTower, .TowerButton.CanonTower{
  background-image: url("../img/towers/canontower.jpg");
}
#board td.CanonTower2{
    background-image: url("../img/towers/canontower2.jpg");
}
#board td.CanonTower3{
    background-image: url("../img/towers/canontower3.jpg");
}
#board td.ArrowTower, .TowerButton.ArrowTower{
  background-image: url("../img/towers/arrowtower.jpg");
}
#board td.ArrowTower2 {
    background-image: url("../img/towers/arrowtower2.jpg");
}
#board td.ArrowTower3{
    background-image: url("../img/towers/arrowtower3.jpg");
}
#board td.LightningTower, .TowerButton.LightningTower{
  background-image: url("../img/towers/lightningtower.jpg");
}
#board td.LightningTower2{
    background-image: url("../img/towers/lightningtower2.png");
}
#board td.LightningTower3{
    background-image: url("../img/towers/lightningtower3.jpg");
}
#board td.FireTower, .TowerButton.FireTower{
  background-image: url("../img/towers/firetower.jpg");
}
#board td.FireTower2{
    background-image: url("../img/towers/firetower2.jpg");
}
#board td.FireTower3{
    background-image: url("../img/towers/firetower3.png");
}
.MenuButton, .LevelButton{
  text-shadow: 1px 1px 3px white;
  border: solid black 3px;
  border-radius: 20px;
  font-weight: bold;
  padding: 5px 10px 5px 10px;
}
.MenuButton:hover , .LevelButton:hover {
  border: solid red 3px;
  text-decoration: none;
}
#stop:hover{
  color:red;
}