body{
  background-image: url(../img/background/background2.gif);
}
#top{
  text-align: center;
}

#navigation > ul{   
  padding: 4px;
  
}
#navigation ul{
  list-style-type: none;
}

#nameInput{
  margin-left: 50%;
  margin-right: 50%;
}
#navigation{
   float: left;
   text-align: center;
   text-style: bold;
   background-color: lightgreen;
   border-style: solid;
   margin: 45px 15px 15px 15px;
   width: 200px;
}
#navigation td{
  background-color: lightgreen;
}
#highscore{
   float: right;
   text-align: center;
   text-style: bold;
   background-color: lightgrey;
   border-style: solid;
   margin-right: 25px;
}
#highscoreTable{
  margin-right: 10px;
}
#stop{
   /* background: #262626; */
    background: lightgrey;
    margin-left: 50%;
    margin-right: 50%;
}
#board{
  /*TODO: responsive*/
   margin-left: 30%;
   margin-right: 70%;
   border-style:none;
   
}
td {
  padding: 8px;
  text-align: right;
  background-color: lightgrey;
}
#player{
  margin-left: 200px;

}
#gameHeader{
}